#zip {
    height: 20px;
    display: block;
    margin-bottom: 20px;
    
}

#feelings {
    display: block;
    margin-bottom: 20px;
}

label {
    display: block;
}

.headline {
    background-color: cyan;
}

body {
    background-color:rgb(253, 175, 221);
}

h1, body{
    font-family: 'Raleway', sans-serif;
}