#zip {
    height: 20px;
    display: block;
    margin-bottom: 20px;
    
}

#feelings {
    display: block;
    margin-bottom: 20px;
}

label {
    display: block;
}

.headline {
    background-color: cyan;
}

body {
    background-color:lightcoral;
}